.Blank
.footer
  .container  
    .logo 
      img(src="/images/logo.png")
      p.logoText We are a young company always looking for new and creative ideas to help you with our products in your everyday work. 
      a.linkText OurTeam
    .Contact.smallBox
      p.italic Contact
      ul.itemBox
        li.item
          embed(src="/images/maps-and-flags.svg", type="image/svg+xml")
          p Via Rossini 10, 10136 Turin Italy
        li.item
          embed(src="/images/phone-call.svg", type="image/svg+xml")
          p Phone: (0039) 333 12 68 347
        li.item
          embed(src="/images/email.svg", type="image/svg+xml")
          p Email: 명지@대학교.com
        li.item
          embed(src="/images/skype.svg", type="image/svg+xml")
          p Skype: you_online
    .Links.smallBox
      p.italic Links
      ul.itemBox
        li.item
          p Via Rossini 10, 10136 Turin Italy
        li.item
          p Phone: (0039) 333 12 68 347
        li.item
          p Email: 명지@대학교.com
        li.item
          p Skype: you_online
    .Links.smallBox
      ul.itemBox
        li.item
          p Plans &amp; pricing
        li.item
          p Affiliates
        li.item
          p Terms

          








//- All rights reserved. &copy; 2020 데이터 베이스 설계 8조