.header.clearfix
  nav.navbar.navbar-expand-md.navbar-light.fixed-top
    .container
      a.navbar-brand(href='/')
        img(src='/images/logoBlack.png', alt='명지은행')
      button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#mainNav', aria-controls='mainNav', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon

      #mainNav.collapse.navbar-collapse
        ul.navbar-nav.ms-auto
          if currentUser
            li.nav-item
              a.nav-link(href='/accounts') 계좌
            li.nav-item
              a.nav-link(href='/cards') 카드
            li.nav-item
              a.nav-link(href='/users') 사용자
            li.nav-item
              a.nav-link(href=`/users/${currentUser.id}`) 내 정보
            li.nav-item
              form.d-inline(action='/signout', method='POST')
                +csrf
                button.signout.nav-link.btn.btn-link(type='submit') 로그아웃
          else
            li.nav-item
              a.nav-link(href='/signin') 로그인
            li.nav-item
              a.nav-link(href='/users/new') 회원가입
