.form-group
  label(for="type") Account type
  select.form-control(type="text", name="type", placeholder="account type", value=account.type)
    option(value="청약 저축 통장")  청약 저축 통장
    option(value="일반 통장")  일반 통장
    option(value="적금 통장")  적금 통장
    option(value="청년 미래 통장")  청년 미래 통장
