.form-group
  label(for="type") Account type
  input.form-control(type="text", name="type", placeholder="account type", value=account.title)
.form-group
  label(for="password") Account password
  input.form-control(type="password", name="password", placeholder="password", value=account.title)
.form-group
  label(for='password_confirmation') Password Confirmation
  input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='Password')