extends ../layout

include ../includes/_paginate

block content
  .container
    
    h1.main-title 
      | Bank Account
      if total > 0
        .small Total #{total} account(s)
    
    h1.font-weight-light.align-middle  총액: #{moneyTotal}
    if total <= 0 
      .alert.alert-info No accounts available yet
    else
      .lists
        each account in accounts
          .list.card.mb-3
            include _account


    hr
    a.btn.btn-primary(href='/accounts/new') Make Bank Account
