extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/accounts', method='GET')
      i.fa.fa-search
      input.form-control.mr-sm-2(type='text', name='term', placeholder='Search', aria-label='Search', value=term)

    h1.main-title 
      | Bank Account
      if total > 0
        .small Total #{total} account(s)

    if total <= 0 
      .alert.alert-info No accounts available yet
    else
      .accounts
        each account in accounts
          .account
            include _account


    hr
    a.btn.btn-primary(href='/accounts/new') Make Bank Account
