extends ../layout

block content
  .container
    h1.main-title New Account
    form(action="/accounts", method="POST")
      include _form
      button.btn.btn-outline-primary(type="submit") Make new Bank Account

    