extends ../layout

block content
    .container
        h1.main-title 출금
        form(action=`/accounts/${account.id}/output`, method="POST")
            .form-group
                label(for="money") 출금할 금액을 입력하세요
                input.form-control(type="text", name="money", placeholder="금액")
            button.btn.btn-outline-primary(type="submit") 출금
