.form-group
  label(for="max") Card limit amount
  input.form-control(type="text", name="max", placeholder="Card limit amount", value=cards.max)
.form-group
  label(for="type") Card type
  input.form-control(type="text", name="type", placeholder="account type", value=cards.type)
.form-group
  label(for="account") Connect Account
  input.form-control(type="text", name="account", placeholder="Connect Account", value=cards.account)
