extends ../layout

include ../includes/_paginate

block content
  .container
    h1.main-title 
      | Card List
      if total > 0
        .small Total #{total} account(s)

    if total <= 0 
      .alert.alert-info No card exist yet
    else
      .lists
        each card in cards
          .list
            include _card


    hr
    a.btn.btn-primary(href='/cards/new') #[i.fa.fa-plus] Make Card
