extends ../layout

block content
    .container
        h1.main-title 카드 사용
        form(action=`/cards/${card.id}/use`, method="POST")
            .form-group
                label(for="content") 사용 내역을 입력하세요
                input.form-control(type="text", name="content", placeholder="내용")
            .form-group
                label(for="money") 사용 금액을 입력하세요
                input.form-control(type="text", name="money", placeholder="금액")
            button.btn.btn-outline-primary(type="submit") 결제
