extends ../layout

block content
    .container
        h1.main-title Profile Update
        form(action=`/users/${user.id}?_method=PUT`, method='POST')
            .form-group
                label(for='name') Name
                input.form-control(type='text', id='name', name='name', placeholder='Your name', value=user.name)
            .form-group
                label(for='address') Address
                input.form-control(type='text', id='address', name='address', placeholder='Address', value=user.address)
            .form-group
                label(for='birth') Date of birth
                input.form-control(type='text', id='birth', name='birth', placeholder='Date of birth', value=user.birth)
            .form-group
                label(for='current_password') Current Password
                input.form-control(type='password', id='current_password', name='current_password', placeholder='Current Password')
            .form-group
                label(for='password') Password
                input.form-control(type='password', id='password', name='password', placeholder='Password')
            .form-group
                label(for='password_confirmation') Password Confirmation
                input.form-control(type='password', id='password_confirmation', name='password_confirmation', placeholder='Password Confirmation')
            a.btn.btn-outline-secondary(href='javascript:window.history.back();') Back 
            | 
            button.btn.btn-primary(type='submit') Update
